@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Skranji&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    background-color: black;
    padding: 10px 5px;
}

.logo {
    width: 35px;
    margin-left: 5px;
    border-radius: 50%;
    cursor: pointer;
}

.menu ul {
    gap: 1rem;
    margin-right: .5rem;
}

.menu ul li {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    list-style: none;
    cursor: pointer;
}

.menu ul li a {
    text-decoration: none;
    color: white;
}

.menu ul li a:hover {
    color: rgb(207, 31, 72);
}

.info {
    height: 200px;
    background-color: rgb(207, 31, 72);
    /* text-align: center; */
    color: white;
}

.info h1 {
    font-size: 3.2rem;
    padding-top: 50px;
    padding-left: 320px;
    margin-bottom: 5px;
    font-family: 'Roboto', sans-serif;
}

.container{
    display: grid;
    font-family: "arial";
    place-items: center;
    width:370px;
    /* font-size: 24px; */
    padding-top: 0px;
    margin-left: 370px;
    font-size:1rem;
}

.infotext {
    color: white; 
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid white;
    width: 0;
    font-size: 1.2rem;
    animation: typing 4s steps(40, end) forwards;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes typing {
    from {
        width: 0;
    } to {
        width: 100%;
    }
}

.projects {
    height: 30rem;
    background-color: rgb(207, 31, 72);
    color: white;
    font-family: 'Lato', sans-serif;
}

.line {
    margin-left: 35rem;
    position: relative;
    font-size: 2rem;
}

.line::after {
    content: '';
    width: 100%;
    height: 3px;
    background:black;
    position: absolute;
    left: 0;
    bottom: -3px;
}

.cards {
    height: 25rem;
    display: flex;
    justify-content: space-between;
    margin: 30px;
    gap: 50px;
    cursor: pointer;
}

.card1,
.card2,
.card3 {
    width: 30%; /* Adjust the width as needed */
}

.cards img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.card1,
.card2,
.card3 {
    border: 1px solid black;
    border-radius: 5px;
}
.card1:hover {
    /* transform: translateY(-10px); */
    background-color: black;
}
.card2:hover {
    /* transform: translateY(-10px); */
    background-color: black;
}
.card3:hover {
    /* transform: translateY(-10px); */
    background-color: black;
}

.content p {
    padding: 15px;
    line-height: 1.3rem;
}

.visit {
    text-decoration: none;
    margin-left: 80px;
    color: white;
    font-size: larger;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
}

.visit:hover {
    color: rgb(207, 31, 72);
    border: 2px solid white;
}


.social {
    height: 14rem;
    background-color: black;
    color: white;
}

.social h1 {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
    font-family: 'Lato', sans-serif;
}

.icons {
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
}

.icons li {
    list-style: none;
    font-size: 1.2rem;
}

.icons li:hover {
    transform: translateY(-5px);
}

.anchor {
    color: white;
    text-decoration: none;
    font-family: 'Skranji', cursive;
    cursor: pointer;
    padding-top: 30px;
}

.anchor:hover {
    color: rgb(207, 31, 72);
}

